/*
  want to add:
  - better style to fonts
  - media query to cards and menu bottons on mobile
*/
:root {
  --main-color: #1c1c1c;
}
.hidden {
  display: none !important;
}
* {
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--main-color);
  transition: background 1s;
}
header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: bolder;
}
body > div {
  /* selecet first div*/
  height: 90vh;
}
/* landing page */
.landing {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.landing .menu {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.landing .menu .button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 100px;
  width: 250px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

/*game board*/
.container {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-content: center;
  background-position: left;
  /* transition: background 1s; */
}
.easy {
  background-color: #88d66c !important;
}

.medium {
  background-color: #ffaf00 !important;
}
.hard {
  background-color: #bd3131 !important;
}

.card-container {
  height: 80%;
  background-color: #31363f;
  min-width: 40vw;
  max-width: 90vw;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  gap: 10px;
  padding: 1rem;
}
.card {
  perspective: 400px;
  cursor: pointer;
  transition: 0.5s all;
  position: relative;
  transform-style: preserve-3d;
}
.card div {
  backface-visibility: hidden;
  background-color: aliceblue;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.card .face {
  background-color: #76abae;
}
.card .back {
  background-color: #eeeeee;
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.active {
  transform: rotateY(180deg);
}
