/*
  want to add:
  - better style to fonts
  - media query to cards and menu bottons on mobile
*/
:root {
  --main-color: #1c1c1c;
  --header-color: #fff;
}
.hidden {
  display: none !important;
}
* {
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
  background-color: var(--main-color);
  transition: background 1s;
}
header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--header-color);
  font-size: 3rem;
  font-weight: bolder;
  transition: color 1s;
}
/* select first div*/
body > div {
  height: 90vh;
}
/* landing page */
.landing {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.landing .menu {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.landing .menu .button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 100px;
  width: 250px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.landing .description {
  /* background-color: #fff; */
  height: 10vh;
  font-size: 1.4rem;
  color: #e5d283;
  text-transform: capitalize;
}
/*game board*/
.container {
  overflow: hidden;
  /*^ we may replace it with grid */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-position: left;
  /* transition: background 1s; */
}
.easy {
  background-color: #88d66c !important;
}

.medium {
  background-color: #ffaf00 !important;
}
.hard {
  background-color: #bd3131 !important;
}

.card-container {
  height: 80%;
  background-color: #31363f;
  min-width: 40vw;
  max-width: 90vw;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  gap: 10px;
  padding: 1rem;
}
.card {
  perspective: 400px;
  cursor: pointer;
  transition: 0.5s all;
  position: relative;
  transform-style: preserve-3d;
}
.card div {
  backface-visibility: hidden;
  background-color: aliceblue;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.card .face {
  background-color: #76abae;
}
.card .back {
  background-color: #eeeeee;
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.active {
  transform: rotateY(180deg);
}
/* side menu */
.container .side-menu {
  /* background-color: #fff; */
  color: #000;
  height: -webkit-fill-available;
  display: grid;
  grid-template-rows: 4fr 1fr 6fr;
  place-items: center;
  justify-content: center;
}
.container .timer {
  font-size: 10rem;
}
.container .tries {
  font-size: 3rem;
}
.menu-button {
  height: 3rem;
  width: 15rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  background-color: #1c1c1c;
  color: white;
  display: flex;
  justify-content: center;
  place-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.message {
  font-size: 2rem;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: show-message 500ms linear 250ms forwards;
  z-index: 99;
}
.message .overlay {
  background-color: #000;
  opacity: 80%;
  height: 100%;
  width: 100%;
}
.body {
  box-sizing: border-box;
  position: absolute;
  color: #1c1c1c;
  text-transform: capitalize;
  background-color: #ffae00;
  height: 100%;
  min-width: 50%;
  padding: 20px;
  display: grid;
  grid-template-rows: 3fr 5fr 2fr;
  justify-content: center;
  place-items: center;
  text-align: center;
}
@keyframes show-message {
  to{
    opacity: 100;
  } 
}
